* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* font-family: Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    color: #fff9f9;
    background-color: #222121;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#head {
    display: none;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 2%; */
    background-image: url(images/zulfahmi-khani-VLGa7BAz0Qk-unsplash.webp);
    width: 100%;
    /* min-height: 40vh; */
    min-height: 500px;
    
    background-size: max(100%, 100vh);
    /* background-position-x: 0px; */
    background-position: center;
    background-repeat: no-repeat;
    
}

#header-text {
    font-size: clamp(2vh, 2.2vw, 1.5rem);
    background-color: rgba(128, 128, 128, 0.71);
    /* color: #daece5; */
    border-radius: 10px;
    padding: 3%;
    line-height: 1.5;
    text-align: center;
    width: 80vw;
}

article {
    
    display: flex;
    flex-direction: column;
    align-items: center;

    line-height: 2.0rem;
    width: 75vw;
    padding: 60px 5px 60px; 
}

#servicios {
    margin: 20px 20px 0;
}

#map {
    min-height: 400px;
    width: 100%;    
}

#ending {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    width: 75vw;
    padding: 50px 5px;
    
    font-size: clamp(0.5rem, 1.3rem, 1.5rem);
}

#ending > #offer, #Tienda {
    padding: 0 20px;
}

footer {
    background-color: #1c352e;
    /* color: #e0f3eb; */
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

a {
    color: #fff9f9;
    text-decoration: none;
}

i {
    font-style: normal;
    font-size: 2.5rem;
    /* margin-bottom: 150px; */
}

.footer-dir {
    margin-top: 2vh;
}

footer > a {
    font-size: 1.1rem;
}

.btn {
    background-color: #008248;
    color: #fff9f9;
    /* background-color: #7ce4c3;
    color: #1e3932; */
    border-radius: 10px;
    padding: 15px;
    margin: 5vh 0 1vh;
    cursor: pointer;
    border: 2px solid #222121;
    font-size: 0.9rem;
    transition: ease-in-out;
    transition: 0.5s;
}

.btn:hover {
    border-radius: 22px 22px 22px 0;
}

@media (max-width: 767px) {
    header {
        min-height: 320px;
        padding-top: 2vh;
    }
    
    #head {
        display: block;
        min-height: 10vh;
        background-color: #1e3932;
        /* background-color: #7ce4c3; */
        width: 100%;
        text-align: center;
        position: sticky;
        top: 0;
        padding-top: 1.5vh;
        font-size: clamp(1.2rem, 5vw, 1.7rem);
    }

    #ending {
        flex-direction: column;
        row-gap: 2vh;
        padding: 2vh 0;
    }

}